page-home {
    .icon {
        font-size: 60px;
    }
    .Welcome {
        width: 60%;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
        padding-top: 35%;
    }
}
